/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*
    Färger:
    body bg     : fcfaf4
    
    container border: cecab9
    
    header bg   : 51473d
    header text : eae7d2
    
    main bg     : eae7d2
    
    main h1 : 797066
    
    
    subcontent h2           : 51473d
    subcontent link list    : 51473d
    
    
    nav border bottom   : ffffff;
    nav bak             : 51473d
    
    nav button              : eae7d2
    nav button border top   : 847c73
    nav button text         : dfe7c7
    
    
    nav active      : 797066
    nav active text : 888076
    
    nav hover               : 9c9084
    nav hover border top    : 847c73
    nav hover text          : dfe7c7
*/

body *{
    margin:0;
    padding:0;
}

html, body{
    width:100%;
    background-color:#fcfaf4;
}

h1, h2, h3, h4, h5, h6{
    font-weight:normal;
    color:#797066;
}

p{
    font-family:verdana;
    color:#797066;
}

#container{
    position:relative;
    width:600px;
    margin:10px auto;
    border:1px solid #cecab9;
}

#topbar{
    padding:5px 2px;
    text-align:right;
    background-color:#51473d;
    color: #eae7d2;
    font-family:verdana;
    font-size:0.6em;
    font-style:italic;
}

#menu{
    float:left;
    width:100%;
    clear:both;
    background-color: #51473d;
    border-bottom:1px solid #fff;
    margin-bottom:20px;
}

#menu > a{
    display:block;
    width:600px;
    height:200px;
    background-image:url(pics/coffey.jpg);
}

    #menu ul{
        list-style-type:none;
    }
    
    #menu ul li{
        float:left;
        padding:0;
    }
    
    #menu ul li:active{
        
    }
    
    #menu ul li a,
    #menu ul li a:visited{
        
    }
    
    #menu ul li a:hover{
        
    }

#content{
    background-color:#eae7d2;
}

#maincontent{
    float:left;
    padding:0 10px;
    width:350px;
    border-right: 1px dashed #c0c0c0;
}

#maincontent img{
    float:left;
    padding: 0 5px 5px 0;
}

#maincontent h1{
    margin-bottom:10px;
}

#maincontent p{
    font-size:0.8em;
    line-height:1.5em;
}

#subcontent{
    float:left;
    padding:0 10px;
    width:209px;
}

#subcontent h1{
    color: #51473d;
    font-size:1.2em;
    margin-bottom:10px;
}

#subcontent h2{
    color: #51473d;
    font-size: 1em;
    margin-top:20px;
}

#subcontent p{
    font-size:0.55em;
    line-height:2em;
}

#subcontent ul{
    list-style-type:none;
    margin:0;
}

#subcontent ul li a{
    text-decoration:none;
    color:#51473d;
    font-family:verdana;
    font-size:0.8em;
}

#bottomcontent{
    width:100%;
    padding:10px;
    clear:both;
    font-family:verdana;
    font-size:0.6em;
    font-style:italic;
    color:#797066;
}